@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/_Master.cshtml";
}

<style type="text/css">
    #register-container {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 100px auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }

    label {
        display: block;
    }

    label>input {
        display: block;
    }

</style>


<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Shinetech Blog</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">Register</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
<div class="span6 offset3">
    
   @using (Html.BeginForm("Register", "Account", FormMethod.Post))
   {
       <div  id="register-container">
           <h2>Register User</h2>
           <label>Email:</label>
            <input type="text" id="Email"/>
           
           <label>Password:</label>
           <input type="password" id="Password"/>
          
           <input type="submit" id="Register" value="Register" class="btn btn-large btn-primary"/>

           
           <div id="Message">@TempData["Success"]</div>
       </div>
   }

</div>

